@import url("https://fonts.googleapis.com/css?family=Mitr:200,300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kanit:200,300,400,500&display=swap");
@font-face {
  font-family: 'Dotum';
  src: url("Dotum.eot");
  src: url("Dotum.eot?#iefix") format("embedded-opentype"), url("Dotum.woff2") format("woff2"), url("Dotum.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Adobe Thai';
  src: url("AdobeThai-Regular.eot");
  src: url("AdobeThai-Regular.eot?#iefix") format("embedded-opentype"), url("AdobeThai-Regular.woff2") format("woff2"), url("AdobeThai-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PSL Narissara Pro';
  src: url("PSLNarissaraProBold.eot");
  src: url("PSLNarissaraProBold.eot?#iefix") format("embedded-opentype"), url("PSLNarissaraProBold.woff2") format("woff2"), url("PSLNarissaraProBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'PSL Narissara Pro';
  src: url("PSLNarissaraPro.eot");
  src: url("PSLNarissaraPro.eot?#iefix") format("embedded-opentype"), url("PSLNarissaraPro.woff2") format("woff2"), url("PSLNarissaraPro.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Dotum', 'Helvetica Neue', Arial, sans-serif;
  background-color: #f5f5f5;
  display: block;
  overflow-x: hidden; }

a {
  color: #188fbb; }
  a:hover, a:focus {
    color: #126c8e; }

.text-primary {
  color: #188fbb !important; }

.btn-primary {
  background-color: #188fbb;
  border-color: #188fbb; }
  .btn-primary:hover, .btn-primary:focus {
    background: #1685ad;
    border-color: #1685ad; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dotum', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold; }

.header {
  display: block;
  overflow-x: hidden; }

.dropdown-toggle::after {
  content: "\f107";
  border: 0;
  font-family: "Font Awesome 5 Pro";
  font-size: 0.75rem;
  font-weight: normal;
  vertical-align: middle;
  margin-left: 0.35rem; }

.nav-pills {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .nav-pills .nav-item {
    padding: 0 0.5rem;
    text-align: center; }
  .nav-pills .nav-link {
    border-radius: 1.5rem;
    border: 1px solid #188fbb;
    color: #188fbb;
    padding: 0.125rem 1rem;
    font-size: 0.875rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out; }
    @media (min-width: 768px) {
      .nav-pills .nav-link {
        padding: 0.125rem 2rem;
        font-size: 1.25rem; } }
    .nav-pills .nav-link:hover, .nav-pills .nav-link:focus, .nav-pills .nav-link.active {
      background-color: #188fbb;
      color: white; }

.item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative; }
  .item-image .item-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .item-image .item-wrap .btn-expand {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #188fbb;
      border-radius: 0;
      color: white;
      font-size: 1.125rem; }
      .item-image .item-wrap .btn-expand .icon {
        margin-right: 0.5rem; }
  .item-image:hover .item-wrap, .item-image:focus .item-wrap {
    opacity: 1; }

.slick-dots {
  bottom: 1rem; }
  .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 3px; }
    .slick-dots li button::before {
      content: " ";
      width: 10px;
      height: 10px;
      border: 2px solid #fff;
      opacity: 1; }
    .slick-dots li.slick-active button::before {
      background: #188fbb;
      opacity: 1; }

.page-indicator {
  position: fixed;
  right: 1rem;
  top: 40%;
  z-index: 99;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .page-indicator .nav-link {
    display: block !important;
    width: 12px !important;
    height: 12px !important;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #188fbb;
    margin: 5px 0;
    padding: 0; }
    @media (min-width: 768px) {
      .page-indicator .nav-link {
        width: 20px !important;
        height: 20px !important; } }
    .page-indicator .nav-link.active {
      background-color: #188fbb; }

#toTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Kanit', 'Dotum', 'Helvetica Neue', Arial, sans-serif;
  background: #62c2e5;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  z-index: 99;
  bottom: -100%;
  right: 1.5rem;
  width: 70px;
  height: 70px;
  opacity: 0;
  -webkit-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out; }
  #toTop .icon {
    font-size: 1.375rem;
    margin-bottom: 0.25rem; }
  #toTop.show {
    opacity: 1;
    bottom: 4rem;
    visibility: visible; }

::-moz-selection {
  background: #188fbb;
  text-shadow: none; }

::selection {
  background: #188fbb;
  text-shadow: none; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

/* fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: block;
  height: 0;
  overflow: hidden; }

.tab-content > .active,
.pill-content > .active {
  height: auto; }
